@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--c1);
}
:root{
    --c1: #0a100d;
    --c2: #bdbdbd;
    --c3: #f3f3f2;
    --c4: #d4201d;
    --c5: #902923;
    --c6: #B03A37;
    --h: 'Poppins', sans-serif;
    --p: 'Lato', sans-serif;
    --n: 'Ubuntu', sans-serif;
}

body{
    background: var(--c2);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container{
    background: var(--c3);
    margin-right: 20%;
    margin-left: 20%;
    padding: 3rem;
    margin-block: 1rem;
    border-radius: 2rem;
    box-shadow: 5px 5px 5px grey;
    flex-grow: 1; 
}


/*NAV*/
nav{
    background: var(--c4);
    width: 100%;
    box-shadow: 0px -2px 7px grey;
    position: sticky;
    bottom: 0;
    z-index: 1;
    font-family: var(--n);
    margin-top: auto;
}
nav ul{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: .5rem;
}
nav ul li{
    list-style-type: none;
    padding: 1rem;
    text-align: center;
    margin-bottom: -.5rem;
}
nav ul li:hover{
    background: var(--c5);
}
nav ul li a{
    color: white;
    text-decoration: none;
}


/*HEADERS AND PARAGRAPH*/
h1{
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: var(--h);
    color: var(--c5);
}
h2{
    font-size: 2rem;
    font-family: var(--h);
    color: var(--c4);
}
h3{
    font-size: 1.5rem;
    font-family: var(--h);
    color: var(--c4);
}
h4{
    font-size: 1.5rem;
    font-family: var(--h);
    color: var(--c6);
}
p{
    font-size: 1.2rem;
    margin-block: 1rem;
    font-family: var(--p);
    color: var(--c1);
}

/*LIST*/
li{
    color: var(--c1);
    font-size: 1.2rem;
    font-family: var(--p);
}
ul, ol{
    margin-left: 2rem;
    margin-bottom: .5rem;
}


/*IMAGE*/
img{
    width: 100%;
}
.img{
    border: 5px solid var(--c5);
    border-radius: 1rem;
    overflow: hidden;
    background: var(--c5);
}
.img hr{
    margin-block: 0rem;
}
.img p{
    font-size: .9rem;
    font-family: var(--n);
    color: white;
    padding-right: 1rem;
    padding-left: 1rem;
}

/*SPECIAL TEXT*/
.bold{
    color: var(--c6);
    font-weight: 600;
}
em{
    color: var(--c4);
}
a{
    color: var(--c4);
}


/*SIDEBAR*/
aside{
    padding: 1.5rem;
    border-radius: 1rem;
    margin: 2rem;
    background: var(--c6);
    box-shadow: 2px 2px 5px var(--c1);
    width: 15%;
    position: absolute;
    left: 80%;
}
aside h2{
    color: white;
    font-size: 1.3rem;
}
aside p{
    color: white;
    font-size: 1rem;
}
aside li{
    color: white;
    font-size: 1rem;
}
aside em{
    color: var(--c2)
}
aside a{
    color: var(--c2);
}


/*MISC.*/
hr{
    margin-block: 2rem;
    border: 2px solid var(--c5);
}
.caseStudy{
    color: var(--c6);
}